@font-face {
    font-family: Amiamie-Reg;
    src: url("/assets/webfonts/Amiamie-Regular.woff") format("woff");
}

  
  * {
    cursor: none;
  }
  

  body {
    background-image: url("/images/bg_4.png");
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: Amiamie-Reg;
    font-size: 1.1vw;
    line-height: 120%
  }

  ::selection {
    background-color: grey;
    color: white;
  }

  .circle-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: grey;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 99999;
    cursor: none;
  }
  
span {
    color:grey;
    font-size: 0.8vw;
    padding-bottom: 5px;
}

p {
  margin: 0;
  font-family: Amiamie-Reg;
  font-size: 1.1vw;
}

  /*flex*/
  .container {
    display: flex;
    flex-direction: column;
    padding:20px 20px 0px 20px;
    width: 100%;
  }
  
  .div-1 {
    flex: 0 0 40%;
    padding-bottom: 10px;
    max-width:53ch;
  }
  
  .row-2 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .div-2 {
    flex: 1 0 40%;
  }
  
  .div-3 {
    flex: 1 0 60%;
  }

  /* Links */
  a {
  text-align: left;
  text-decoration: none;
  color: black;
  cursor: none;
  }
  
  a:hover {
  color: grey;
  cursor: none;
  }


  /* mobile */
  @media only screen and (max-width: 480px) {
    body {
      background-image: url("/images/bg_4.png");
      background-repeat: no-repeat;
      font-family: Amiamie-Reg;
      font-size: 2.5vw;
    }

    span {
      font-size: 2.5vw;
  }
  
  p {
    font-family: Amiamie-Reg;
    font-size: 2.5vw;
  }
  }