@font-face {
  font-family: SwINTL-Reg;
  src: url("/assets/webfonts/SUISSEINTL-REGULAR.TTF") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: SwINTL-Reg;
  overflow-y: hidden;
  display: flex;
}

header {
  width: 100%;
  display: flex;
  justify-content:flex-start;
  align-items:baseline;
  padding: 15px 0px 0px 15px;
}

.header-column {
  display: flex;
  flex-direction: column;
}

.header-link {
  color:black;
  font-size: 1.7em;
}

.header-link:hover {
  color: gray;
}

.hidden-text {
  font-size: 1.9em;
  max-width: 43ch;
}
  
.p-title {
  font-size: 1.9em;
}


/* Links */
a {
  text-align: left;
  text-decoration: none;
  color: black;
}
    
a:hover {
  color: grey;
}

/* Showreel */
.showreel {
  width: 100%;
  max-width: 970px;
  padding: 0px 15px 15px 15px;
  text-align: center;
  position: fixed;
  bottom: 8px;
  transition: opacity 1s ease-in-out;
}

.showreel img {
  max-width: 100%;
}

.caption {
  padding-top: 3px;
  color:black;
  text-align: left;
  font-size: 1.9em;
  max-width: 45ch;
}

/* Media query per il layout mobile */
@media (max-width: 768px) {
}