* {
  box-sizing: border-box;
}

@font-face {
  font-family: sans-serif;
  src: url("/assets/webfonts/Amiamie-Regular.ttf") format("truetype");
}

/* Stile generale del corpo del documento */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font: 1vw/120% sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 15px 10px;
}

.title, .title-link {
  font-size: 1vw;
  color: black;
  font-family: sans-serif;
}

.text {
  max-width: 65ch;
  z-index: 2;
}

.bio {
  color: black;
  font-family: sans-serif;
  font-size: 1.4vw;
  line-height: 120%;
  max-width: 15ch;
}

a {
  color: black; 
  text-decoration: none; 
}

a:hover {
  color: gray; 
  transition: color 0.3s ease; 
}

.description a {
  color:gray;
  text-decoration:underline;
}

.description a:hover {
  color:black;
  transition: color 0.3s ease; 
}

.description {
  color: grey;
  font-family: sans-serif;
}

.combined-text {
  margin:0px;
  text-align: left;
  word-wrap: break-word;
}

.combined-text-about {
  text-align: left;
  word-wrap: break-word;
  line-height: 135%;
  margin-left:55px;
}

::selection {
  background-color: grey;
  color: black;
}

.description::selection {
  background-color: grey;
  color: white; 
}

/* CAROSELLO */
.owl-carousel {
  width: 100%; 
  position: relative; 
  display: flex;
  overflow-x: auto; 
  margin: 0px 0px 0px 10px;
  padding: 0;
  scroll-snap-type: x mandatory; /* Abilita il posizionamento dello scorrimento */
}

.owl-item {
  flex: 0 0 auto; /* Impedisce il restringimento degli elementi */
  scroll-snap-align: start; /* Allineamento dello scorrimento all'inizio di ogni elemento */
}

.owl-carousel .frame .image {
  width: 100%; 
  height: auto;
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; /* Mantiene l'aspetto originale dell'immagine senza distorsione */
  padding-bottom: 10px;
}

.owl-carousel .frame {
  max-width: 800px; 
  margin: 0 auto; /* Centra l'elemento nel carosello */
}

.owl-item .image {
  cursor: crosshair;
}


/* About page */
.container {
  display: flex;
  align-items: baseline;
}

.content {
  flex: 1;
  flex-basis: 20%;
  padding: 0px 0px 0px 10px;
}

.sidebar {
  flex: 2;
  padding: 0px 0px 0px 10px;
}


/* MEDIA QUERY */
@media screen and (max-width: 600px),
screen and (min-width: 601px) and (max-width: 1024px) {
  body, .title, .title-link, .text {
    font-size: 4vw;
  }

  .owl-carousel {
    width: 100%;
    scroll-snap-type: none;
    margin: 0 auto;
  }

  .owl-item {
    flex: 1 0 100%;
  }

  .owl-carousel .frame {
    max-width: 100vw;
  }

  .text, .title, .title-link {
    max-width: 85ch;
  }

  .container {
    flex-direction: column;
  }

  .combined-text-about {
    text-align: left;
    word-wrap: break-word;
    line-height: 135%;
    margin-left: 0;
  }

  .bio {
    color: black;
    font-family: sans-serif;
    font-size: 4vw;
    line-height: 120%;
  }

  .combined-text {
    padding-right: 10px;
    max-width: 85ch;
  }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
  body, .title, .title-link, .text {
    font-size: 3vw;
  }

  body {
    line-height: 120%;
    font-family: sans-serif; 
  }

  .owl-carousel {
    width: 100%; 
    scroll-snap-type: none;
    margin: 0 auto;
  }

  .owl-item {
    flex: 1 0 100%;
  }

  .owl-carousel .frame {
    max-width: 100vw; 
  }
  
  .text {
    line-height: 112%;
  }

  .container {
    flex-direction: column;
  }

  .combined-text-about {
    text-align: left;
    word-wrap: break-word;
    line-height: 135%;
    margin-left: 0;
  }
  
  .bio {
    color: black;
    font-family: sans-serif;
    font-size: 3.4vw;
    line-height: 120%;
  }

  .combined-text {
    padding-right: 10px;
    max-width: 85ch;
  }
}
